@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}


* {
  font-family: 'Quicksand', sans-serif;
}

.primary-button {
  color: #fff;
  /*text-transform: uppercase;*/
  font-size: 15px;
  background-color: blueviolet;/*linear-gradient(180deg, #,#);*/
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background-color: rgb(65, 15, 112);
}

.sec-button {
  background-color: linear-gradient(180deg,#3fbbfe,#a541ff);
  color: white;
  /*background-color: linear-gradient(to,#3fbbfe,#a541ff);*/
  font-weight: 500px;
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.sec-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}

/*------navbar-------*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: white;
  background-color: black;
  /*border: none;*/
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  height: 50px;
  
}

nav .nav-button:disabled {
  background-color: rgb(128,128,128); /*makes it gray*/ 
}

nav .logo-container {
  width: 150px;
  margin-top: -30px; /*originally margin: 15px*/
}

nav .logo-container .logo {
  width: 100%;

}

/*----homepage----*/
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to top right,#3fbbfe,#a541ff);
}

/*----auth modal----*/
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
  max-width: 360px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right; 
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

/*........onboarding page.........*/
.onboarding form {
  display: flex;
  justify-content: center;

  
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: center;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0px;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}


.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form .mult-input {
  display: flex;
  flex-direction: row; 
}

.onboarding form .mult-input input {
  margin-right: 10px;
}

.onboarding form label {
  margin: 10px 0px;
}

.onboarding form .mult-input label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="number"] {
  width: 10%;
}

.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgd(221,39,22);
}

.onboarding form input[type="submit"]:hover {
  background-color: rgb(235,235,235);
}

.onboarding form input[type="submit"]:active {
  background-color: rgb(226,115,115);
}